
#park{
 font-size: 13px;        
 font-weight: bold;
}

#parkimg{
    width: 100%;
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid black;
}