#title{

    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: rgb(52, 221, 29);
    font-size: 40px;

}
#ss{
    box-sizing: border-box;
     display: block;

}

#store{
 font-size: 13px;        
 font-weight: bold;
}


#storeimg{
    width: 100%;
    height: 400px;
    
    background-repeat: no-repeat;
    background-size: contain;
    border: 3px solid black;
}