#h3-home{
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: rgb(237, 238, 237);;
    font-size: 40px;
}
#home {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    color: rgb(237, 238, 237);
    font-size: 20px;
    
}
#jumbo{
    width: 100%;
   background-size: cover;
    background-image: url("https://images.unsplash.com/reserve/bOvf94dPRxWu0u3QsPjF_tree.jpg?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dc3c11450eb2cc81086200006ac495a4&auto=format&fit=crop&w=500&q=60");
}