
  #welcome{
    color: green;
    font-weight: bold;
    font-size: 50px;
  }
  h1, h2, p, ul, li {
    font-family: sans-serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    background-color: #111;
    padding: 0;
  }
  ul.header li a {
    columns: #bdc0c0de;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
  }
  .content {
    background-image: url(" https://images.unsplash.com/photo-1510148199876-8a856ee41d42?ixlib=rb-0.3.5&s=c6e07651e1f94951590487461029b908&auto=format&fit=crop&w=900&q=60");
    padding: 30px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  
  .wow{
      font-size: 50px;
  }