#jumbo{
    color: #000000;
    background-color: bisque;
    height: 100%;
    align-items: center;
    text-align: center;
}
.dev{
    color: #000000;
    background-color: bisque;
    height: 100%;
    align-items: center;
    text-align: center;
    margin: 20px;
    display: inline-block;



}
.cardImg{width: 100%;
  height: 100vw;
  max-height: 325px;
  object-fit: cover;
}
