#title{

    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: rgb(52, 221, 29);
    font-size: 40px;

}



#treeItem{
 font-size: 13px;        
 font-weight: bold;
 text-align: center;
 
}
 

#button:hover{
color: black;
}
.tree_name{
    text-align: center
}