#title{

    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: rgb(52, 221, 29);
    font-size: 40px;

}

#button{
    background-color: rgb(64, 64, 64);
    border: rgb(128,128,128);
    color: rgb(255,255,255);
    margin-right: 10px;
    margin-bottom: 20px;
}

.tree{
 font-size: 9px;        
 font-weight: bold;
 background-color: bisque;
 margin: 10px;
 border-block-end-width: 10px;
 border-color: black;
 overflow: hidden;
}
.tree :hover{
    color: blue;
    
}
.Thumbnail img{
    width: 100%;=
    height: auto;
    display: block;
}
.h6{
    color:white;
}